body {
    font-family: 'Nunito Sans', sans-serif;    
}
h1 {
    color: red;
    font-weight: 900;
}
ul {
    color: rgb(202, 118, 15);
}
q {
    color: brown;
    background-color: rgb(204, 201, 19);
}
span {
    background-color: aqua;
}