body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.header {
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    align-items: center;
    }
.logo {
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
    margin-right: 50px;
    padding: 5px 15px;
    text-decoration: none;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
    padding: 10px 20px;
    background-color: lavender;
}
.post {
    padding-bottom: 20px;
}
.footer {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
a {    
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
}
h1 {    
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
h3{
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
section {
    background-color: lavender;
    padding: 5px 20px;
    margin-top: 20px;
}